.flex-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.flex-container > * {
  flex-shrink: 0;
}


@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }
  .flex-container > * {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 768px) and (max-width: 1024px) {
  .flex-container {
    flex-direction: column;
    height: auto;
  }
  .flex-container > * {
    width: 100%;
    height: auto;
  }
}


@media (min-width: 1025px) {
  .flex-container {
    flex-direction: row;
  }
  .leftsidebar {
    width: 60px;
  }
  .chatlist {
    width: 300px;
  }
  .main {
    flex: 1;
  }
  .right-sidebar {
    width: 236px;
  }
}